:root {
  /* font sizes */
  --size-sm: 0.875rem;
  --size-md: 1rem;
  --size-lg: 1.25rem;
  --size-xl: 2rem;
  --size-2xl: 4rem;

  /* breakpoints */
  --breakpoint-mobile: 768px;
  --breakpoint-tablet: 1024px;
  --breakpoint-desktop: 1216px;
  --breakpoint-wide: 1408px;

  /* containers */
  --container-sm: calc(var(--breakpoint-mobile) - 3rem * 2);
  --container-md: calc(var(--breakpoint-tablet) - 6rem * 2);
  --container-lg: calc(var(--breakpoint-desktop) - 9rem * 2);
  --container-xl: calc(var(--breakpoint-wide) - 12rem * 2);

  /* nav */
  --nav-font-size: var(--size-sm);
  --nav-item-padding: var(--size-md);
  --nav-height: calc( var(--size-sm) + var(--size-md) * 2 );
  --full-height-with-nav: calc(100vh - 1rem - var(--nav-height));
}
